@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: lightgray;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 auto;
}

.main-content {
  flex: 1;
  min-height: 100vh;
}

footer {
  flex: 0 0 auto;
  font-family: "Poppins", sans-serif;
  font-size: 8pt;
  text-align: center;
  padding-top: 20px;
  background-color: black;
  height: 50px;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header-class {
  background-color: black;
  color: white;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  padding-right: 20px;
}

.link-styles {
  /* padding-right: 20px; */
  text-decoration: none;
  color: white;
  margin-right: 20px;
  &:hover {
    text-decoration: underline;
  }
}

.form-class {
  margin-left: 30px;
  margin-top: 30px;
}

.form-class select,
input {
  margin-left: 10px;
  margin-right: 5px;
  height: 25px;
}

img {
  max-width: 600px;
  margin: 30px;
  border-radius: 8px;
  border: solid gold 5px;
}

.img-div {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

button {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
  padding: 5px 8px;
  /* margin: 10px; */
  border-radius: 10px;
  /* border: 3px solid gold; */
}

.dog-icon {
  margin-right: 30px;
  font-size: 15px;
}

.other-icons {
  font-size: 30px;
}

.center-logo {
  display: flex;
  align-content: center;
}

.pic-line,
.breed-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-breeds-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* .breed-title {
  margin-left: 30px;
} */

.allBreeds-flex {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
